{% extends 'base.html.twig' %}

{% block title %}Blog Posts{% endblock %}

{% block body %}
    <h1>My Blog</h1>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><a href="{{ path('blog_show', {'slug': post.slug}) }}">{{ post.title }}</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>{{ post.content|slice(0, 150) }}...</p>
                        <a href="{{ path('blog_show', {'slug': post.slug}) }}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No posts yet.</p>
        {% endfor %}
    </div>
{% endblock %}