{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <p class="text-muted">Published: {{ post.createdAt|date('l jS F Y') }}</p>
    <p>{{ post.content|raw }}</p>
    <a href="{{ path('blog_index') }}" class="btn btn-primary">Back to Blog</a>
{% endblock %}